.footer{
  width:100%;
  margin:0px;
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  background: linear-gradient( to right, white,rgb(136, 255, 0), white)
}
.leftFooter{
  float:left;
}
.leftFooter .menuBar ul, .menuConect ul{
  display:flex;
  justify-content: center;
  align-items: center;
}
.leftFooter .menuBar ul li, .menuConect ul li {
  margin-right:20px;
}
li:nth-last-child(1){
  margin-right:0px;
}

.rightFooter{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightFooter input{
  width:200px;
  height: 30px;
}
li i.fa{
  font-size: 40px;
}
.inputEmail{
  display:flex;
}
.inputEmail .btn{
  cursor: pointer;
  border: 1px solid rgb(124, 119, 119);
  background-color: aliceblue;
}
.logoFooter{
  display:flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width:768px){
  .logoFooter, .rightFooter, .leftFooter{
    width:100%;
  }
  .leftFooter .menuBar ul{
    display:flex;
    flex-wrap: wrap;
  }
  
}