.mainPage .pageNow :nth-last-child(1){
    font-weight:bold; 
    border:1px solid red;
  }
  .mainPage .imageAboutCar{
    width:100%;
    border:1px solid red;
  }
  @media only screen and (max-width:768px){
    .mainPage img.logo{
      width:100%;
    }
  }