.mainPage .pageNow#newsPage{
    margin-top:100px;
  }
  .newsContainer{
    width:100%;
    display:flex;
    flex-wrap: wrap;
  }
  .newsContainer .new{
    border-radius: 10%;
    overflow: hidden;
    width:32.333%;
    display: flex;
    margin-right:1%;
    flex-direction: column;
    background-image: linear-gradient(rgb(235, 235, 243), rgb(255, 255, 255), rgb(90, 92, 90));
  }
  .newsContainer .new : :nth-last-child(1){
    margin-right:0px;
  }
  .newsContainer .new *{
    margin:10px;
  }
  .newsContainer .new h3.title{
    text-align: center;
  }
  .newsContainer .new .seeNew{
    height:30px;
    display: flex;
    justify-content: space-around;
  }
  .newsContainer .new .seeNew :nth-child(2){
    height:0%;
    text-align: center;
    color:rgb(99, 99, 8);
    transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .newsContainer .new .seeNew :nth-child(2):hover{
    height:100%;
    background-color: rgb(99, 99, 8);
    color:white;
  }
  @media (max-width: 800px) {
    .newsContainer .new{
      width:49%;
    }
  }
  @media (max-width: 500px) {
    .newsContainer .new{
      width:100%
    }
  }