.mainPage .pageNow#newsPage{
    margin-top:100px;
  }
  .newsContainer{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:1px solid red;
  }
  .newsContainer .new{
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    background-color: linear-gradient(to right, hsl(100,100,100),rgb(110, 98, 98));
    border:1px solid red;
  }
  .newsContainer .new .title{
    border: 1px solid red;
  }
  @media (max-width: 700px) {
    .newsContainer .new{
      width:100%}
    .mainPage h1{
      font-size:20px;
    }
  }