*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color:white;
  list-style-type: none;
  text-decoration: none;
  text-align: justify;
}

body, html{
  height:100%;
  scroll-behavior: smooth;
}
main.main#page-container{
  width:100%;
  height: 100%;
  }
header.headerPage{
  width:100%;
  height:100%;
  position: relative;;
  left:0px;
  top:0px;
}

.slideShow{
  height: 100%;
  padding: 10px;
  animation-name: show;
  background-color: #282a2b;
}

.slideShow img.imageShow{
  width:100%;
  height: 100%;
  animation-name: showImage;
  animation-duration: 1s
}
@keyframes showImage{
  from{
  opacity: 0
  }
  to{
  opacity: 1
  }
}
.dot-container{
  position: absolute;
  bottom:40px;
  left:40px;
  z-index:2;
}
.dot-container span{
  display:inline-block;
  width:50px;
  height:2px;
  background-color: #282a2b;
  margin-right:5px;
  border-radius: 10%;
}
span.dot.active{
  background-color: rgb(184, 181, 12);
}
header.headerPage a {
  position: absolute;
  bottom:100px;
  left:50%;
  z-index:99;
  
}
header.headerPage a span {
position: absolute;
top: 0;
left: 50%;
width: 46px;
height: 46px;
margin-left: -23px;
border: 1px solid #fff;
border-radius: 100%;
box-sizing: border-box;
}
header.headerPage a span::after {
position: absolute;
top: 50%;
left: 50%;
content: '';
width: 16px;
height: 16px;
margin: -12px 0 0 -8px;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
transform: rotate(-45deg);
box-sizing: border-box;
}
header.headerPage a span::before {
position: absolute;
top: 0;
left: 0;
z-index: 2;
content: '';
width: 44px;
height: 44px;
box-shadow: 0 0 0 0 rgba(255,255,255,.1);
border-radius: 100%;
opacity: 0;
animation: sdb03 3s infinite;
box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
0% {
  opacity: 0;
}
30% {
  opacity: 1;
}
60% {
  box-shadow: 0 0 0 60px rgba(255,255,255,.1);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes sdb03 {
0% {
  opacity: 0;
}
30% {
  opacity: 1;
}
60% {
  box-shadow: 0 0 0 60px rgba(255,255,255,.1);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
main.mainPage{
  width:100%;
  height: 100%;
}

@media only screen and (max-width:768px){
  header.headerPage{
  width:100%;
  height:300px;
  position: relative;;
  left:0px;
  top:0px;
  }
  .dot-container{
    display:none;
  }
}
header.headerPage h1.title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 50px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}
.mainPage{
  padding: 10px 40px 10px 40px;
  width:100%;
  height: 100%;
}
.mainPage h1{
  font-size: 30px;
}
.mainPage *{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:20px;
}
.mainPage .pageNow :nth-last-child(1){
  font-weight:bold; 
  border:1px solid red;
}
.mainPage .imageAboutCar{
  width:100%;
  border:1px solid red;
}
@media only screen and (max-width:768px){
  .mainPage img.logo{
    width:100%;
  }
}
/*style album*/
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
/* style news Page*/
.mainPage .pageNow#newsPage{
  margin-top:100px;
}
.newsContainer{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border:1px solid red;
}
.newsContainer .new{
  width:45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  background-color: linear-gradient(to right, hsl(100,100,100),rgb(110, 98, 98));
  border:1px solid red;
}
.newsContainer .new .title{
  border: 1px solid red;
}
@media (max-width: 700px) {
  .newsContainer .new{
    width:100%}
  .mainPage h1{
    font-size:20px;
  }
}